<div class="giveMeLine">
  <div [style.background-color]="getCategoryColorByCarCost(car.cost)">{{car.cost}}</div>
  <div>{{car.id}}</div>
  <div>{{car.factory}}</div>
  <div>{{car.name}}</div>
  <div>{{car.upgrade}}</div>
  <div>{{car.tyreType}}</div>
  <div>{{car.topSpeed}}</div>
  <div>{{car.acceleration}}</div>
  <div>{{car.handling}}</div>
  <div>{{car.driveTraction}}</div>
  <div>{{car.weight}}</div>
  <div>{{car.width}}</div>
  <div>{{car.height}}</div>
  <div>{{car.groundClearance}}</div>
  <div class="property" [class.active]="car.tractionControl">TractionControl</div>
  <div class="property" [class.active]="car.abs">ABS</div>
  <div>{{car.peakPower}}</div>
  <div>{{car.peakTorque}}</div>
  <div>{{car.enginePosition}}</div>
  <div>{{car.fuel}}</div>
  <div>{{car.bodyStyle}}</div>
  <div>{{car.seatCount}}</div>
  <div>{{car.productionYear}}</div>
</div>
