.giveMeLine {
  display: flex;
  justify-content: space-evenly;
}

.giveMeLine div {
  width: 50px;
  text-align: center;
  font-size: 12px;
}

.property {
  color: gray;
}

.property.active {
  color: gold;
}
