<h2>{{carForm.get('id').value ? 'Edycja auta' : 'Dodawanie auta'}}</h2>

<form [formGroup]="carForm" (ngSubmit)="save()">

  <div class="control-group">
    <label class="control-label">Factory</label>
    <input type="text" formControlName="factory">
  </div>
  <div class="control-group">
    <label class="control-label">Name</label>
    <input type="text" formControlName="name">
  </div>
  <div class="control-group">
    <label class="control-label">Cost</label>
    <input type="number" formControlName="cost">
  </div>
  <div class="control-group">
    <label class="control-label">Upgrade</label>
    <input type="text" formControlName="upgrade">
  </div>
  <div class="control-group">
    <label class="control-label">Tyre type</label>
    <input type="text" formControlName="tyreType" list="tyreTypes">
    <datalist id="tyreTypes">
      <div *ngFor="let tyreType of tyreTypes">
        <option [value]="tyreType">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Top speed</label>
    <input type="number" formControlName="topSpeed">
  </div>
  <div class="control-group">
    <label class="control-label">Acceleration</label>
    <input type="number" formControlName="acceleration">
  </div>
  <div class="control-group">
    <label class="control-label">Handling</label>
    <input type="number" formControlName="handling">
  </div>
  <div class="control-group">
    <label class="control-label">driveTraction</label>
    <input type="text" formControlName="driveTraction">
  </div>
  <div class="control-group">
    <label class="control-label">Weight</label>
    <input type="number" formControlName="weight">
  </div>
  <div class="control-group">
    <label class="control-label">Width</label>
    <input type="number" formControlName="width">
  </div>
  <div class="control-group">
    <label class="control-label">Height</label>
    <input type="number" formControlName="height">
  </div>
  <div class="control-group">
    <label class="control-label">Ground clearance</label>
    <input type="text" formControlName="groundClearance">
  </div>
  <div class="control-group">
    <label class="control-label">Traction Control</label>
    <input type="radio" formControlName="tractionControl" [value]="true">
    <input type="radio" formControlName="tractionControl" [value]="false">
  </div>
  <div class="control-group">
    <label class="control-label">ABS</label>
    <input type="radio" formControlName="abs" [value]="true">
    <input type="radio" formControlName="abs" [value]="false">
  </div>
  <div class="control-group">
    <label class="control-label">Peak power</label>
    <input type="number" formControlName="peakPower">
  </div>
  <div class="control-group">
    <label class="control-label">Peak torque</label>
    <input type="number" formControlName="peakTorque">
  </div>
  <div class="control-group">
    <label class="control-label">Engine position</label>
    <input type="text" formControlName="enginePosition">
  </div>
  <div class="control-group">
    <label class="control-label">Fuel</label>
    <input type="text" formControlName="fuel">
  </div>
  <div class="control-group">
    <label class="control-label">Body style</label>
    <input type="text" formControlName="bodyStyle">
  </div>
  <div class="control-group">
    <label class="control-label">Seat count</label>
    <input type="number" formControlName="seatCount">
  </div>
  <div class="control-group">
    <label class="control-label">Production year</label>
    <input type="number" formControlName="productionYear">
  </div>


  <button type="submit" [disabled]="carForm.invalid">Zapisz</button>
  <button type="button" routerLink="../..">Anuluj</button>
</form>
