<h2>{{carForm.get('id').value ? 'Edycja auta' : 'Dodawanie auta'}}</h2>

<form [formGroup]="carForm" (ngSubmit)="save()">

  <div class="control-group">
    <label class="control-label">Factory</label>
    <input type="text" formControlName="factory" list="factories">
    <datalist id="factories">
      <div *ngFor="let factory of factories">
        <option [value]="factory">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Name</label>
    <input type="text" formControlName="name">
  </div>
  <div class="control-group">
    <label class="control-label">Cost</label>
    <input type="range" formControlName="cost" min="3" max="30">{{carForm.get('cost').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Upgrade</label>
    <input type="text" formControlName="upgrade" maxlength="3">
  </div>
  <div class="control-group">
    <label class="control-label">Tyre type</label>
    <input type="text" formControlName="tyreType" list="tyreTypes">
    <datalist id="tyreTypes">
      <div *ngFor="let tyreType of tyreTypes">
        <option [value]="tyreType">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Top speed</label>
    <input type="range" formControlName="topSpeed" min="50" max="280">{{carForm.get('topSpeed').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Acceleration</label>
    <input type="range" formControlName="acceleration" min="2.1" max="35" step="0.1">{{carForm.get('acceleration').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Handling</label>
    <input type="range" formControlName="handling" min="40" max="110">{{carForm.get('handling').value}}
  </div>
  <div class="control-group">
    <label class="control-label">driveTraction</label>
    <input type="text" formControlName="driveTraction" list="driveTractions">
    <datalist id="driveTractions">
      <div *ngFor="let driveTraction of driveTractions">
        <option [value]="driveTraction">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Weight</label>
    <input type="range" formControlName="weight" min="315" max="3775">{{carForm.get('weight').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Width</label>
    <input type="range" formControlName="width" min="1.2" max="2.2" step="0.1">{{carForm.get('width').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Height</label>
    <input type="range" formControlName="height" min="0.9" max="2.2" step="0.1">{{carForm.get('height').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Ground clearance</label>
    <input type="text" formControlName="groundClearance" list="groundClearances">
    <datalist id="groundClearances">
      <div *ngFor="let groundClearance of groundClearances">
        <option [value]="groundClearance">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Traction Control</label>
    <input type="radio" formControlName="tractionControl" [value]="true">T
    <input type="radio" formControlName="tractionControl" [value]="false">F
  </div>
  <div class="control-group">
    <label class="control-label">ABS</label>
    <input type="radio" formControlName="abs" [value]="true">T
    <input type="radio" formControlName="abs" [value]="false">F
  </div>
  <div class="control-group">
    <label class="control-label">Peak power</label>
    <input type="range" formControlName="peakPower" min="12" max="1479">{{carForm.get('peakPower').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Peak torque</label>
    <input type="range" formControlName="peakTorque" min="13" max="1180">{{carForm.get('peakTorque').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Engine position</label>
    <input type="text" formControlName="enginePosition" list="enginePositions">
    <datalist id="enginePositions">
      <div *ngFor="let enginePosition of enginePositions">
        <option [value]="enginePosition">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Fuel</label>
    <input type="text" formControlName="fuel" list="fuels">
    <datalist id="fuels">
      <div *ngFor="let fuel of fuels">
        <option [value]="fuel">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Body style</label>
    <input type="text" formControlName="bodyStyle" list="bodyStyles">
    <datalist id="bodyStyles">
      <div *ngFor="let bodyStyle of bodyStyles">
        <option [value]="bodyStyle">
      </div>
    </datalist>
  </div>
  <div class="control-group">
    <label class="control-label">Seat count</label>
    <input type="range" formControlName="seatCount"min="1" max="9">{{carForm.get('seatCount').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Production year</label>
    <input type="range" formControlName="productionYear" min="1930" max="2020">{{carForm.get('productionYear').value}}
  </div>
  <div class="control-group">
    <label class="control-label">Country</label>
    <input type="text" formControlName="country" list="countries">
    <datalist id="countries">
      <div *ngFor="let country of countries">
        <option [value]="country">
      </div>
    </datalist>
  </div>

  <button mat-button type="submit" [disabled]="carForm.invalid">Zapisz</button>
  <button mat-button type="button" routerLink="../..">Anuluj</button>
</form>
