id: {{car.id}}
factory: {{car.factory}}
name: {{car.name}}
cost: {{car.cost}}
upgrade: {{car.upgrade}}
tyreType: {{car.tyreType}}
topSpeed: {{car.topSpeed}}
acceleration: {{car.acceleration}}
handling: {{car.handling}}
driveTraction: {{car.driveTraction}}
weight: {{car.weight}}
width: {{car.width}}
height: {{car.height}}
groundClearance: {{car.groundClearance}}
tractionControl: {{car.tractionControl}}
abs: {{car.abs}}
peakPower: {{car.peakPower}}
peakTorque: {{car.peakTorque}}
enginePosition: {{car.enginePosition}}
fuel: {{car.fuel}}
bodyStyle: {{car.bodyStyle}}
seatCount: {{car.seatCount}}
productionYear: {{car.productionYear}}
