<div>
  <div [style.background-color]="getCategoryColorByCarCost(car.cost)">{{car.cost}}</div>
  <div>id: {{car.id}}</div>
  <div>factory: {{car.factory}}</div>
  <div>name: {{car.name}}</div>
  <div>upgrade: {{car.upgrade}}</div>
  <div>tyreType: {{car.tyreType}}</div>
  <div>topSpeed: {{car.topSpeed}}</div>
  <div>acceleration: {{car.acceleration}}</div>
  <div>handling: {{car.handling}}</div>
  <div>driveTraction: {{car.driveTraction}}</div>
  <div>weight: {{car.weight}}</div>
  <div>width: {{car.width}}</div>
  <div>height: {{car.height}}</div>
  <div>groundClearance: {{car.groundClearance}}</div>
  <div>tractionControl: {{car.tractionControl}}</div>
  <div>abs: {{car.abs}}</div>
  <div>peakPower: {{car.peakPower}}</div>
  <div>peakTorque: {{car.peakTorque}}</div>
  <div>enginePosition: {{car.enginePosition}}</div>
  <div>fuel: {{car.fuel}}</div>
  <div>bodyStyle: {{car.bodyStyle}}</div>
  <div>seatCount: {{car.seatCount}}</div>
  <div>productionYear: {{car.productionYear}}</div>
</div>
