.giveMeLine {
  display: flex;
  justify-content: space-evenly;
}

.giveMeLine div {
  width: 44px;
  text-align: center;
  font-size: 12px;
}

h2 {
  text-align: center;
}

div div {
  display: flex;
  justify-content: center;
}
