<h2>Lista twoich aut</h2>

<div class="giveMeLine">
  <div>Cost</div>
  <div>Factory</div>
  <div>Name</div>
  <div>Upgrade</div>
  <div>TyreType</div>
  <div>TopSpeed</div>
  <div>Acceleration</div>
  <div>Handling</div>
  <div>Traction</div>
  <div>Weight</div>
  <div>Width</div>
  <div>Height</div>
  <div>Clearance</div>
  <div>TrControl</div>
  <div>ABS</div>
  <div>Power</div>
  <div>Torque</div>
  <div>EnginePos</div>
  <div>Fuel</div>
  <div>Body</div>
  <div>Seats</div>
  <div>Year</div>
  <div>Country</div>
</div>


<div *ngFor="let car of cars">
  ----------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------
  <app-car-list-show [car]="car"></app-car-list-show>
  <div>
    <button (click)="editCar(car)">Edytuj</button>
    <button (click)="deleteCarFromList(car)">Usuń</button>
  </div>
</div>
