<h2>Lista twoich aut</h2>

<table mat-table [dataSource]="cars" style="width: 100%">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let cars"
        [style.background-color]="carService.getCategoryColorByCarCost(cars.cost)"> {{cars.cost}} </td>
  </ng-container>
  <mat-text-column name="factory"></mat-text-column>
  <mat-text-column name="name"></mat-text-column>
  <mat-text-column name="upgrade"></mat-text-column>
  <mat-text-column name="tyreType"></mat-text-column>
  <mat-text-column name="topSpeed"></mat-text-column>
  <mat-text-column name="acceleration"></mat-text-column>
  <mat-text-column name="handling"></mat-text-column>
  <mat-text-column name="driveTraction"></mat-text-column>
  <mat-text-column name="weight"></mat-text-column>
  <mat-text-column name="width"></mat-text-column>
  <mat-text-column name="height"></mat-text-column>
  <mat-text-column name="groundClearance"></mat-text-column>
  <ng-container matColumnDef="tractionControl">
    <th mat-header-cell *matHeaderCellDef> TractionControl </th>
    <td mat-cell *matCellDef="let cars"> <div class="property" [class.active]="cars.tractionControl">TC</div> </td>
  </ng-container>
  <ng-container matColumnDef="abs">
    <th mat-header-cell *matHeaderCellDef> ABS </th>
    <td mat-cell *matCellDef="let cars"> <div class="property" [class.active]="cars.abs">ABS</div> </td>
  </ng-container>
  <mat-text-column name="peakPower"></mat-text-column>
  <mat-text-column name="peakTorque"></mat-text-column>
  <mat-text-column name="enginePosition"></mat-text-column>
  <mat-text-column name="fuel"></mat-text-column>
  <mat-text-column name="bodyStyle"></mat-text-column>
  <mat-text-column name="seatCount"></mat-text-column>
  <mat-text-column name="productionYear"></mat-text-column>
  <mat-text-column name="country"></mat-text-column>
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> options </th>
    <td mat-cell *matCellDef="let cars">
    <button (click)="editCar(cars)">Edytuj</button>
    <button (click)="deleteCarFromList(cars)">Usuń</button>
    </td>
  </ng-container>
</table>
